Repository ansible-collections/community.hashi_vault: changes, and which Codecov flags are due for each by the changed paths.
All: target_filter_vault_login_token, target_module_vault_kv1_get, target_module_vault_kv2_get, target_module_vault_list, target_module_vault_login, target_module_vault_read, target_module_vault_token_create, target_module_vault_pki_generate_certificate, target_lookup_vault_kv1_get, target_lookup_vault_kv2_get, target_lookup_vault_list, target_lookup_vault_login, target_lookup_vault_read, target_lookup_vault_token_create, target_lookup_hashi_vault, target_auth_approle, target_auth_aws_iam, target_auth_azure, target_auth_cert, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

codecov.yml:

---
ignore:
  - tests/unit/compat/*
  - tests/unit/**/conftest.py
  - tests/unit/conftest.py

fixes:
  - "ansible_collections/community/hashi_vault/::"

coverage:
  status:
    patch:
      default:
        target: 100%

flags:
  target_filter_vault_login_token:
    paths:
      - plugins/filter/vault_login_token.py

  target_module_vault_kv1_get:
    paths:
      - plugins/modules/vault_kv1_get.py

  target_module_vault_kv2_get:
    paths:
      - plugins/modules/vault_kv2_get.py

  target_module_vault_list:
    paths:
      - plugins/modules/vault_list.py

  target_module_vault_login:
    paths:
      - plugins/modules/vault_login.py

  target_module_vault_read:
    paths:
      - plugins/modules/vault_read.py

  target_module_vault_token_create:
    paths:
      - plugins/modules/vault_token_create.py

  target_module_vault_pki_generate_certificate:
    paths:
      - plugins/modules/vault_pki_generate_certificate

  target_lookup_vault_kv1_get:
    paths:
      - plugins/lookup/vault_kv1_get.py

  target_lookup_vault_kv2_get:
    paths:
      - plugins/lookup/vault_kv2_get.py

  target_lookup_vault_list:
    paths:
      - plugins/lookup/vault_list.py

  target_lookup_vault_login:
    paths:
      - plugins/lookup/vault_login.py

  target_lookup_vault_read:
    paths:
      - plugins/lookup/vault_read.py

  target_lookup_vault_token_create:
    paths:
      - plugins/lookup/vault_token_create.py

  target_lookup_hashi_vault:
    paths:
      - plugins/lookup/hashi_vault.py

  target_auth_approle:
    paths:
      - plugins/module_utils/_auth_method_approle.py

  target_auth_aws_iam:
    paths:
      - plugins/module_utils/_auth_method_aws_iam.py

  target_auth_azure:
    paths:
      - plugins/module_utils/_auth_method_azure.py

  target_auth_cert:
    paths:
      - plugins/module_utils/_auth_method_cert.py

  target_auth_jwt:
    paths:
      - plugins/module_utils/_auth_method_jwt.py

  target_auth_ldap:
    paths:
      - plugins/module_utils/_auth_method_ldap.py

  target_auth_none:
    paths:
      - plugins/module_utils/_auth_method_none.py

  target_auth_token:
    paths:
      - plugins/module_utils/_auth_method_token.py

  target_auth_userpass:
    paths:
      - plugins/module_utils/_auth_method_userpass.py

  target_connection_options:
    paths:
      - plugins/module_utils/_connection_options.py

deploy: 5d0f86fde0596e0dee6306d9480d74e782de1e78
  pr/471/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/471/collections/community/hashi_vault/index.html
  pr/471/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  pr/471/collections/community/hashi_vault/vault_database_connection_configure_module.html
  pr/471/collections/community/hashi_vault/vault_database_connection_delete_module.html
  pr/471/collections/community/hashi_vault/vault_database_connection_read_module.html
  pr/471/collections/community/hashi_vault/vault_database_connection_reset_module.html
  pr/471/collections/community/hashi_vault/vault_database_connections_list_module.html
  pr/471/collections/community/hashi_vault/vault_database_role_create_module.html
  pr/471/collections/community/hashi_vault/vault_database_role_delete_module.html
  pr/471/collections/community/hashi_vault/vault_database_role_read_module.html
  pr/471/collections/community/hashi_vault/vault_database_roles_list_module.html
  pr/471/collections/community/hashi_vault/vault_database_rotate_root_credentials_module.html
  pr/471/collections/community/hashi_vault/vault_database_static_role_create_module.html
  pr/471/collections/community/hashi_vault/vault_database_static_role_get_credentials_module.html
  pr/471/collections/community/hashi_vault/vault_database_static_role_read_module.html
  pr/471/collections/community/hashi_vault/vault_database_static_role_rotate_credentials_module.html
  pr/471/collections/community/hashi_vault/vault_database_static_roles_list_module.html
  pr/471/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/471/collections/community/hashi_vault/vault_kv1_get_module.html
  pr/471/collections/community/hashi_vault/vault_kv2_delete_module.html
  pr/471/collections/community/hashi_vault/vault_kv2_get_lookup.html
  pr/471/collections/community/hashi_vault/vault_kv2_get_module.html
  pr/471/collections/community/hashi_vault/vault_kv2_write_module.html
  pr/471/collections/community/hashi_vault/vault_list_lookup.html
  pr/471/collections/community/hashi_vault/vault_list_module.html
  pr/471/collections/community/hashi_vault/vault_login_lookup.html
  pr/471/collections/community/hashi_vault/vault_login_module.html
  pr/471/collections/community/hashi_vault/vault_login_token_filter.html
  pr/471/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  pr/471/collections/community/hashi_vault/vault_read_lookup.html
  pr/471/collections/community/hashi_vault/vault_read_module.html
  pr/471/collections/community/hashi_vault/vault_token_create_lookup.html
  pr/471/collections/community/hashi_vault/vault_token_create_module.html
  pr/471/collections/community/hashi_vault/vault_write_lookup.html
  pr/471/collections/community/hashi_vault/vault_write_module.html
  pr/471/searchindex.js
Due: none

remove unused import
  tests/unit/plugins/modules/test_vault_token_create.py
Due: none

Remove support for old core & python versions (#471)
  .github/workflows/ansible-builder.yml
  .github/workflows/ansible-test.yml
  .github/workflows/github-release.yml
  README.md
  changelogs/fragments/470-core-python-versions.yml
  galaxy.yml
  meta/runtime.yml
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_azure.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_connection_options.py
  plugins/module_utils/_hashi_vault_common.py
  tests/config.yml
  tests/unit/conftest.py
  tests/unit/plugins/modules/test_vault_token_create.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_azure, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

deploy: 0dcd676520cec16d5a8bf8b18facfae205cb95fe
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/index.html
  branch/main/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  branch/main/collections/community/hashi_vault/vault_database_connection_configure_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_delete_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_reset_module.html
  branch/main/collections/community/hashi_vault/vault_database_connections_list_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_create_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_delete_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_roles_list_module.html
  branch/main/collections/community/hashi_vault/vault_database_rotate_root_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_create_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_get_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_rotate_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_roles_list_module.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_delete_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_write_module.html
  branch/main/collections/community/hashi_vault/vault_list_lookup.html
  branch/main/collections/community/hashi_vault/vault_list_module.html
  branch/main/collections/community/hashi_vault/vault_login_lookup.html
  branch/main/collections/community/hashi_vault/vault_login_module.html
  branch/main/collections/community/hashi_vault/vault_login_token_filter.html
  branch/main/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  branch/main/collections/community/hashi_vault/vault_read_lookup.html
  branch/main/collections/community/hashi_vault/vault_read_module.html
  branch/main/collections/community/hashi_vault/vault_token_create_lookup.html
  branch/main/collections/community/hashi_vault/vault_token_create_module.html
  branch/main/collections/community/hashi_vault/vault_write_lookup.html
  branch/main/collections/community/hashi_vault/vault_write_module.html
  branch/main/searchindex.js
Due: none

add release summary
  changelogs/fragments/7.0.0.yml
Due: none

release v7.0.0
  CHANGELOG.md
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/470-core-python-versions.yml
  changelogs/fragments/7.0.0.yml
Due: none

Release/7.0.0 (#472)
  CHANGELOG.md
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/470-core-python-versions.yml
Due: none

deploy: 8133861b91b18bbc232644b56634345909a1529a
  branch/main/collections/community/hashi_vault/docsite/CHANGELOG.html
  branch/main/searchindex.js
Due: none

bump sanity python to 3.13
  .github/workflows/ansible-test.yml
Due: none

bump sanity python to 3.13 (#477)
  .github/workflows/ansible-test.yml
Due: none

updates to address Brian's comments
  codecov.yml
  plugins/doc_fragments/auth.py
  plugins/lookup/vault_login.py
  plugins/module_utils/_auth_method_gcp.py
  plugins/module_utils/_authenticator.py
  plugins/modules/vault_login.py
  tests/integration/targets/auth_gcp/aliases
  tests/integration/targets/auth_gcp/tasks/gcp_test_controller.yml
  tests/integration/targets/auth_gcp/tasks/gcp_test_target.yml
  tests/integration/targets/auth_gcp/tasks/main.yml
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_alt_mount.yml.j2
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_bad_request.yml.j2
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_default.yml.j2
  tests/unit/fixtures/gcp_login_response.json
Due: target_module_vault_login, target_lookup_vault_login

removed whitespace from codecov.yml
  codecov.yml
Due: none

removed extra newline from the _authenticator file
  plugins/module_utils/_authenticator.py
Due: none

the linter was complaining about imports from the standard library, I have modified and removed those unecessary imports
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_write.py
  tests/unit/plugins/modules/conftest.py
Due: target_lookup_vault_kv1_get, target_lookup_vault_kv2_get

added changelog fragment
  changelogs/fragments/442-add-gcp-auth.yml
Due: none

newline at end of changelog
  changelogs/fragments/442-add-gcp-auth.yml
Due: none

updated section from features to minor_changes in changelog
  changelogs/fragments/442-add-gcp-auth.yml
Due: none

add changelog fragment
  changelogs/fragments/481-remove-py2-compat.yml
Due: none

remove use of six
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_write.py
  tests/unit/plugins/lookup/test_hashi_vault.py
  tests/unit/plugins/modules/conftest.py
Due: target_lookup_vault_kv1_get, target_lookup_vault_kv2_get

change to_native to to_text with proper import
  plugins/modules/vault_database_connection_configure.py
  plugins/modules/vault_database_connection_delete.py
  plugins/modules/vault_database_connection_read.py
  plugins/modules/vault_database_connection_reset.py
  plugins/modules/vault_database_connections_list.py
  plugins/modules/vault_database_role_create.py
  plugins/modules/vault_database_role_delete.py
  plugins/modules/vault_database_role_read.py
  plugins/modules/vault_database_roles_list.py
  plugins/modules/vault_database_rotate_root_credentials.py
  plugins/modules/vault_database_static_role_create.py
  plugins/modules/vault_database_static_role_get_credentials.py
  plugins/modules/vault_database_static_role_read.py
  plugins/modules/vault_database_static_role_rotate_credentials.py
  plugins/modules/vault_database_static_roles_list.py
  plugins/modules/vault_kv1_get.py
  plugins/modules/vault_kv2_delete.py
  plugins/modules/vault_kv2_get.py
  plugins/modules/vault_kv2_write.py
  plugins/modules/vault_list.py
  plugins/modules/vault_login.py
  plugins/modules/vault_pki_generate_certificate.py
  plugins/modules/vault_read.py
  plugins/modules/vault_token_create.py
  plugins/modules/vault_write.py
Due: target_module_vault_kv1_get, target_module_vault_kv2_get, target_module_vault_list, target_module_vault_login, target_module_vault_read, target_module_vault_token_create, target_module_vault_pki_generate_certificate

add stable-2.20 to CI
  .github/workflows/ansible-test.yml
Due: none

missed stable-2.20 on units
  .github/workflows/ansible-test.yml
Due: none

remove accidental tuple
  plugins/lookup/vault_kv2_get.py
Due: target_lookup_vault_kv2_get

Remove python 2 compatibility, add stable-2.20 to CI (#482)
  .github/workflows/ansible-test.yml
  changelogs/fragments/481-remove-py2-compat.yml
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_write.py
  plugins/modules/vault_database_connection_configure.py
  plugins/modules/vault_database_connection_delete.py
  plugins/modules/vault_database_connection_read.py
  plugins/modules/vault_database_connection_reset.py
  plugins/modules/vault_database_connections_list.py
  plugins/modules/vault_database_role_create.py
  plugins/modules/vault_database_role_delete.py
  plugins/modules/vault_database_role_read.py
  plugins/modules/vault_database_roles_list.py
  plugins/modules/vault_database_rotate_root_credentials.py
  plugins/modules/vault_database_static_role_create.py
  plugins/modules/vault_database_static_role_get_credentials.py
  plugins/modules/vault_database_static_role_read.py
  plugins/modules/vault_database_static_role_rotate_credentials.py
  plugins/modules/vault_database_static_roles_list.py
  plugins/modules/vault_kv1_get.py
  plugins/modules/vault_kv2_delete.py
  plugins/modules/vault_kv2_get.py
  plugins/modules/vault_kv2_write.py
  plugins/modules/vault_list.py
  plugins/modules/vault_login.py
  plugins/modules/vault_pki_generate_certificate.py
  plugins/modules/vault_read.py
  plugins/modules/vault_token_create.py
  plugins/modules/vault_write.py
  tests/unit/plugins/lookup/test_hashi_vault.py
  tests/unit/plugins/modules/conftest.py
Due: target_module_vault_kv1_get, target_module_vault_kv2_get, target_module_vault_list, target_module_vault_login, target_module_vault_read, target_module_vault_token_create, target_module_vault_pki_generate_certificate, target_lookup_vault_kv1_get, target_lookup_vault_kv2_get

checkout #482 file conflicts from main
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_write.py
  tests/unit/plugins/modules/conftest.py
Due: target_lookup_vault_kv1_get, target_lookup_vault_kv2_get

Update changelogs/fragments/442-add-gcp-auth.yml
  changelogs/fragments/442-add-gcp-auth.yml
Due: none

Added an auth method for GCP (#442)
  changelogs/fragments/442-add-gcp-auth.yml
  codecov.yml
  plugins/doc_fragments/auth.py
  plugins/lookup/hashi_vault.py
  plugins/lookup/vault_login.py
  plugins/module_utils/_auth_method_gcp.py
  plugins/module_utils/_authenticator.py
  plugins/modules/vault_login.py
  tests/integration/targets/auth_gcp/aliases
  tests/integration/targets/auth_gcp/defaults/main.yml
  tests/integration/targets/auth_gcp/meta/main.yml
  tests/integration/targets/auth_gcp/tasks/gcp_test_controller.yml
  tests/integration/targets/auth_gcp/tasks/gcp_test_target.yml
  tests/integration/targets/auth_gcp/tasks/main.yml
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_alt_mount.yml.j2
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_bad_request.yml.j2
  tests/integration/targets/setup_localenv_docker/templates/mmock/gcp_login_default.yml.j2
  tests/unit/fixtures/gcp_login_response.json
  tests/unit/plugins/module_utils/authentication/test_auth_gcp.py
Due: target_module_vault_login, target_lookup_vault_login, target_lookup_hashi_vault

deploy: 7b05f2b482ff6ac5f1bb1195b4e7b184943c8fd8
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/vault_database_connection_configure_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_delete_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_connection_reset_module.html
  branch/main/collections/community/hashi_vault/vault_database_connections_list_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_create_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_delete_module.html
  branch/main/collections/community/hashi_vault/vault_database_role_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_roles_list_module.html
  branch/main/collections/community/hashi_vault/vault_database_rotate_root_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_create_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_get_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_read_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_role_rotate_credentials_module.html
  branch/main/collections/community/hashi_vault/vault_database_static_roles_list_module.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_delete_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_write_module.html
  branch/main/collections/community/hashi_vault/vault_list_lookup.html
  branch/main/collections/community/hashi_vault/vault_list_module.html
  branch/main/collections/community/hashi_vault/vault_login_lookup.html
  branch/main/collections/community/hashi_vault/vault_login_module.html
  branch/main/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  branch/main/collections/community/hashi_vault/vault_read_lookup.html
  branch/main/collections/community/hashi_vault/vault_read_module.html
  branch/main/collections/community/hashi_vault/vault_token_create_lookup.html
  branch/main/collections/community/hashi_vault/vault_token_create_module.html
  branch/main/collections/community/hashi_vault/vault_write_lookup.html
  branch/main/collections/community/hashi_vault/vault_write_module.html
  branch/main/collections/environment_variables.html
  branch/main/searchindex.js
Due: none

deploy: 7b05f2b482ff6ac5f1bb1195b4e7b184943c8fd8
  pr/353/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/353/collections/community/hashi_vault/vault_database_connection_configure_module.html
  pr/353/collections/community/hashi_vault/vault_database_connection_delete_module.html
  pr/353/collections/community/hashi_vault/vault_database_connection_read_module.html
  pr/353/collections/community/hashi_vault/vault_database_connection_reset_module.html
  pr/353/collections/community/hashi_vault/vault_database_connections_list_module.html
  pr/353/collections/community/hashi_vault/vault_database_role_create_module.html
  pr/353/collections/community/hashi_vault/vault_database_role_delete_module.html
  pr/353/collections/community/hashi_vault/vault_database_role_read_module.html
  pr/353/collections/community/hashi_vault/vault_database_roles_list_module.html
  pr/353/collections/community/hashi_vault/vault_database_rotate_root_credentials_module.html
  pr/353/collections/community/hashi_vault/vault_database_static_role_create_module.html
  pr/353/collections/community/hashi_vault/vault_database_static_role_get_credentials_module.html
  pr/353/collections/community/hashi_vault/vault_database_static_role_read_module.html
  pr/353/collections/community/hashi_vault/vault_database_static_role_rotate_credentials_module.html
  pr/353/collections/community/hashi_vault/vault_database_static_roles_list_module.html
  pr/353/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/353/collections/community/hashi_vault/vault_kv1_get_module.html
  pr/353/collections/community/hashi_vault/vault_kv2_delete_module.html
  pr/353/collections/community/hashi_vault/vault_kv2_get_lookup.html
  pr/353/collections/community/hashi_vault/vault_kv2_get_module.html
  pr/353/collections/community/hashi_vault/vault_kv2_write_module.html
  pr/353/collections/community/hashi_vault/vault_list_lookup.html
  pr/353/collections/community/hashi_vault/vault_list_module.html
  pr/353/collections/community/hashi_vault/vault_login_lookup.html
  pr/353/collections/community/hashi_vault/vault_login_module.html
  pr/353/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  pr/353/collections/community/hashi_vault/vault_read_lookup.html
  pr/353/collections/community/hashi_vault/vault_read_module.html
  pr/353/collections/community/hashi_vault/vault_token_create_lookup.html
  pr/353/collections/community/hashi_vault/vault_token_create_module.html
  pr/353/collections/community/hashi_vault/vault_write_lookup.html
  pr/353/collections/community/hashi_vault/vault_write_module.html
  pr/353/collections/environment_variables.html
  pr/353/searchindex.js
Due: none
