Repository ansible-collections/community.hashi_vault: changes, and which Codecov flags are due for each by the changed paths.
All: target_filter_vault_login_token, target_module_vault_login, target_module_vault_read, target_lookup_vault_login, target_lookup_vault_read, target_lookup_hashi_vault, target_auth_approle, target_auth_aws_iam, target_auth_cert, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

codecov.yml:

---
ignore:
  - "**/tests/unit/compat/*"

fixes:
  - "ansible_collections/community/hashi_vault/::"

flags:
  target_filter_vault_login_token:
    paths:
      - plugins/filter/vault_login_token.py

  target_module_vault_login:
    paths:
      - plugins/modules/vault_login.py

  target_module_vault_read:
    paths:
      - plugins/modules/vault_read.py

  target_lookup_vault_login:
    paths:
      - plugins/lookup/vault_login.py

  target_lookup_vault_read:
    paths:
      - plugins/lookup/vault_read.py

  target_lookup_hashi_vault:
    paths:
      - plugins/lookup/hashi_vault.py

  target_auth_approle:
    paths:
      - plugins/module_utils/_auth_method_approle.py

  target_auth_aws_iam:
    paths:
      - plugins/module_utils/_auth_method_aws_iam.py

  target_auth_cert:
    paths:
      - plugins/module_utils/_auth_method_cert.py

  target_auth_jwt:
    paths:
      - plugins/module_utils/_auth_method_jwt.py

  target_auth_ldap:
    paths:
      - plugins/module_utils/_auth_method_ldap.py

  target_auth_none:
    paths:
      - plugins/module_utils/_auth_method_none.py

  target_auth_token:
    paths:
      - plugins/module_utils/_auth_method_token.py

  target_auth_userpass:
    paths:
      - plugins/module_utils/_auth_method_userpass.py

  target_connection_options:
    paths:
      - plugins/module_utils/_connection_options.py

deploy: ba839980aafd53420238f0e0afb4ff543a41d793
  pr/263/_static/doctools.js
  pr/263/_static/searchtools.js
  pr/263/_static/sphinx_highlight.js
  pr/263/collections/community/hashi_vault/docsite/CHANGELOG.html
  pr/263/collections/community/hashi_vault/docsite/about_hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/docsite/contributor_guide.html
  pr/263/collections/community/hashi_vault/docsite/filter_guide.html
  pr/263/collections/community/hashi_vault/docsite/localenv_developer_guide.html
  pr/263/collections/community/hashi_vault/docsite/lookup_guide.html
  pr/263/collections/community/hashi_vault/docsite/migration_hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/docsite/user_guide.html
  pr/263/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/index.html
  pr/263/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_module.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_module.html
  pr/263/collections/community/hashi_vault/vault_login_lookup.html
  pr/263/collections/community/hashi_vault/vault_login_module.html
  pr/263/collections/community/hashi_vault/vault_login_token_filter.html
  pr/263/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  pr/263/collections/community/hashi_vault/vault_read_lookup.html
  pr/263/collections/community/hashi_vault/vault_read_module.html
  pr/263/collections/community/hashi_vault/vault_token_create_lookup.html
  pr/263/collections/community/hashi_vault/vault_token_create_module.html
  pr/263/collections/community/hashi_vault/vault_write_lookup.html
  pr/263/collections/community/hashi_vault/vault_write_module.html
  pr/263/collections/community/index.html
  pr/263/collections/index.html
  pr/263/collections/index_filter.html
  pr/263/collections/index_lookup.html
  pr/263/collections/index_module.html
  pr/263/index.html
  pr/263/search.html
  pr/263/searchindex.js
Due: none

deploy: ba839980aafd53420238f0e0afb4ff543a41d793
  pr/263/collections/community/hashi_vault/vault_login_token_filter.html
  pr/263/searchindex.js
Due: none

update docs build push job dependency
  .github/workflows/docs-push.yml
Due: none

update preview files
  docs/preview/.gitignore
  docs/preview/antsibull-docs.cfg
  docs/preview/build.sh
  docs/preview/conf.py
  docs/preview/requirements.txt
  docs/preview/rst/index.rst
Due: none

exclude .post0
  docs/preview/requirements.txt
Due: none

Docs/build update stuff (#306)
  .github/workflows/docs-push.yml
  docs/preview/.gitignore
  docs/preview/antsibull-docs.cfg
  docs/preview/build.sh
  docs/preview/conf.py
  docs/preview/requirements.txt
  docs/preview/rst/index.rst
Due: none

update plugin references
  plugins/lookup/vault_login.py
  plugins/lookup/vault_token_create.py
  plugins/modules/vault_login.py
  plugins/modules/vault_token_create.py
Due: target_module_vault_login, target_lookup_vault_login

add docs for vault_login_token filter
  plugins/filter/vault_login_token.yml
Due: none

add license header
  plugins/filter/vault_login_token.yml
Due: none

update filter guide
  docs/docsite/rst/filter_guide.rst
Due: none

try a different reference
  docs/docsite/rst/filter_guide.rst
Due: none

update descriptions
  plugins/filter/vault_login_token.yml
Due: none

add optional_field example, use direct lookup referencing
  plugins/filter/vault_login_token.yml
Due: none

update reference
  docs/docsite/rst/filter_guide.rst
Due: none

deploy: 65f63ca08d1ae4c4ee5d66c5e1324db51a5e8f6c
  pr/263/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_module.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_module.html
  pr/263/collections/community/hashi_vault/vault_login_lookup.html
  pr/263/collections/community/hashi_vault/vault_login_module.html
  pr/263/collections/community/hashi_vault/vault_login_token_filter.html
  pr/263/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  pr/263/collections/community/hashi_vault/vault_read_lookup.html
  pr/263/collections/community/hashi_vault/vault_read_module.html
  pr/263/collections/community/hashi_vault/vault_token_create_lookup.html
  pr/263/collections/community/hashi_vault/vault_token_create_module.html
  pr/263/collections/community/hashi_vault/vault_write_lookup.html
  pr/263/collections/community/hashi_vault/vault_write_module.html
  pr/263/searchindex.js
Due: none

Add docs for `vault_login_token` filter (#263)
  docs/docsite/rst/filter_guide.rst
  plugins/filter/vault_login_token.yml
  plugins/lookup/vault_login.py
  plugins/lookup/vault_token_create.py
  plugins/modules/vault_login.py
  plugins/modules/vault_token_create.py
Due: target_module_vault_login, target_lookup_vault_login

set ver
  galaxy.yml
Due: none

add release summary
  changelogs/fragments/3.3.1.yml
Due: none

prepare 3.3.1 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/3.3.1.yml
Due: none

deploy: 85048db34e8f92700e3a983be42fd420e46864c1
  branch/main/_static/doctools.js
  branch/main/_static/searchtools.js
  branch/main/_static/sphinx_highlight.js
  branch/main/collections/community/hashi_vault/docsite/CHANGELOG.html
  branch/main/collections/community/hashi_vault/docsite/about_hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/docsite/contributor_guide.html
  branch/main/collections/community/hashi_vault/docsite/filter_guide.html
  branch/main/collections/community/hashi_vault/docsite/localenv_developer_guide.html
  branch/main/collections/community/hashi_vault/docsite/lookup_guide.html
  branch/main/collections/community/hashi_vault/docsite/migration_hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/docsite/user_guide.html
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/index.html
  branch/main/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_module.html
  branch/main/collections/community/hashi_vault/vault_login_lookup.html
  branch/main/collections/community/hashi_vault/vault_login_module.html
  branch/main/collections/community/hashi_vault/vault_login_token_filter.html
  branch/main/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  branch/main/collections/community/hashi_vault/vault_read_lookup.html
  branch/main/collections/community/hashi_vault/vault_read_module.html
  branch/main/collections/community/hashi_vault/vault_token_create_lookup.html
  branch/main/collections/community/hashi_vault/vault_token_create_module.html
  branch/main/collections/community/hashi_vault/vault_write_lookup.html
  branch/main/collections/community/hashi_vault/vault_write_module.html
  branch/main/collections/community/index.html
  branch/main/collections/index.html
  branch/main/collections/index_filter.html
  branch/main/collections/index_lookup.html
  branch/main/collections/index_module.html
  branch/main/index.html
  branch/main/objects.inv
  branch/main/search.html
  branch/main/searchindex.js
Due: none

Release/3.3.1 (#307)
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

3.4.0 next expected version
  galaxy.yml
Due: none

deploy: 838bef49cf86ff381f29b396dab940df1ed08298
  branch/main/collections/community/hashi_vault/docsite/CHANGELOG.html
  branch/main/searchindex.js
Due: none

update CI
  .github/workflows/ansible-test.yml
Due: none

macos still stuck on 2.12
  .github/workflows/ansible-test.yml
Due: none

update CI (#308)
  .github/workflows/ansible-test.yml
Due: none

update readme for 2.14
  README.md
Due: none

fill in revoke_ephemeral_token documentation and vars
  plugins/doc_fragments/auth.py
Due: none

update special auth methods
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
Due: target_auth_none, target_auth_token

Revoke tokens which have been created ephemerally
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_read.py
  plugins/lookup/vault_write.py
  plugins/modules/vault_kv1_get.py
  plugins/modules/vault_kv2_get.py
  plugins/modules/vault_pki_generate_certificate.py
  plugins/modules/vault_read.py
  plugins/modules/vault_write.py
Due: target_module_vault_read, target_lookup_vault_read

update the straightforward common use cases
  plugins/lookup/hashi_vault.py
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/lookup/vault_read.py
  plugins/lookup/vault_write.py
  plugins/modules/vault_kv1_get.py
  plugins/modules/vault_kv2_get.py
  plugins/modules/vault_pki_generate_certificate.py
  plugins/modules/vault_read.py
  plugins/modules/vault_write.py
Due: target_module_vault_read, target_lookup_vault_read, target_lookup_hashi_vault

update vault_login
  plugins/lookup/vault_login.py
  plugins/modules/vault_login.py
Due: target_module_vault_login, target_lookup_vault_login

update the straightforward auth methods
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_azure.py
  plugins/module_utils/_auth_method_cert.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_userpass.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_cert, target_auth_jwt, target_auth_ldap, target_auth_userpass

Prepare revocation of ephemeral tokens
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_hashi_vault_common.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass

switch to context based authenticate return, and logout-only approach
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_hashi_vault_common.py
Due: none
