Repository ansible-collections/community.hashi_vault: changes, and which Codecov flags are due for each by the changed paths.
All: target_module_vault_read, target_lookup_vault_read, target_lookup_hashi_vault, target_auth_approle, target_auth_aws_iam_login, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

codecov.yml:

---
ignore:
  - "**/tests/unit/compat/*"

fixes:
  - "ansible_collections/community/hashi_vault/::"

flags:
  target_module_vault_read:
    paths:
      - plugins/modules/vault_read.py

  target_lookup_vault_read:
    paths:
      - plugins/lookup/vault_read.py

  target_lookup_hashi_vault:
    paths:
      - plugins/lookup/hashi_vault.py

  target_auth_approle:
    paths:
      - plugins/module_utils/_auth_method_approle.py

  target_auth_aws_iam_login:
    paths:
      - plugins/module_utils/_auth_method_aws_iam_login.py

  target_auth_jwt:
    paths:
      - plugins/module_utils/_auth_method_jwt.py

  target_auth_ldap:
    paths:
      - plugins/module_utils/_auth_method_ldap.py

  target_auth_none:
    paths:
      - plugins/module_utils/_auth_method_none.py

  target_auth_token:
    paths:
      - plugins/module_utils/_auth_method_token.py

  target_auth_userpass:
    paths:
      - plugins/module_utils/_auth_method_userpass.py

  target_connection_options:
    paths:
      - plugins/module_utils/_connection_options.py

Rename mount_point option as it conflicted with auth
  plugins/modules/vault_kv2.py
  tests/integration/targets/module_vault_kv2/tasks/vault_kv2_tests.yml
Due: none

use boto correctly
  plugins/module_utils/_auth_method_aws_iam_login.py
Due: target_auth_aws_iam_login

hashi_vault lookup - catch errors from auth validation
  plugins/lookup/hashi_vault.py
Due: target_lookup_hashi_vault

vault_read lookup - catch errors from auth validation
  plugins/lookup/vault_read.py
Due: target_lookup_vault_read

hashi_vault lookup - catch errors from authentication
  plugins/lookup/hashi_vault.py
Due: target_lookup_hashi_vault

docsite requirements update
  docs/docsite/rst/user_guide.rst
Due: none

various README updates
  README.md
Due: none

no need for region we are not using the session
  plugins/module_utils/_auth_method_aws_iam_login.py
Due: target_auth_aws_iam_login

add changelog for #168
  changelogs/fragments/168-aws_auth-boto-bug.yml
Due: none

catch errors on AWS profile not found
  plugins/module_utils/_auth_method_aws_iam_login.py
Due: target_auth_aws_iam_login

aws auth fix boto bug and clarify requirements (#168)
  README.md
  changelogs/fragments/168-aws_auth-boto-bug.yml
  docs/docsite/rst/user_guide.rst
  plugins/lookup/hashi_vault.py
  plugins/lookup/vault_read.py
  plugins/module_utils/_auth_method_aws_iam_login.py
Due: target_lookup_vault_read, target_lookup_hashi_vault, target_auth_aws_iam_login

prepare 1.4.1 release
  changelogs/fragments/1.4.1.yml
  galaxy.yml
Due: none

Release 1.4.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1.4.1.yml
  changelogs/fragments/168-aws_auth-boto-bug.yml
Due: none

Release/1.4.1 (#169)
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/168-aws_auth-boto-bug.yml
  galaxy.yml
Due: none

next expected release 1.5.0
  galaxy.yml
Due: none

add action group
  meta/runtime.yml
Due: none

add changelog fragment for #172
  changelogs/fragments/172-action_group.yml
Due: none

add action group (#172)
  changelogs/fragments/172-action_group.yml
  meta/runtime.yml
Due: none

pin docker to 20.10.9
  .github/actions/macos-docker/action.yml
Due: none

docker 2.10.9 url?
  .github/actions/macos-docker/action.yml
Due: none

try vbox host networking change
  .github/actions/macos-docker/action.yml
Due: none

disable other jobs for testing
  .github/workflows/ansible-test.yml
Due: none

once more, with feeling!
  .github/actions/macos-docker/action.yml
Due: none

chownin around
  .github/actions/macos-docker/action.yml
Due: none

restore tests
  .github/workflows/ansible-test.yml
Due: none

fix macos docker in CI (#175)
  .github/actions/macos-docker/action.yml
Due: none

remove deprecated env for token_file and token_path
  plugins/doc_fragments/auth.py
Due: none

remove VAULT_AUTH_METHOD
  plugins/doc_fragments/auth.py
Due: none

remove deprecated env for role_id and secret_id
  plugins/doc_fragments/auth.py
Due: none

wip: make vault addr required
  plugins/module_utils/_connection_options.py
  plugins/module_utils/_hashi_vault_common.py
  tests/unit/plugins/lookup/test_hashi_vault.py
  tests/unit/plugins/module_utils/test_hashi_vault_connection_options.py
Due: target_connection_options

add changelog fragment for #176
  changelogs/fragments/176-url-is-required.yml
Due: none

update docs
  plugins/doc_fragments/connection.py
Due: none

set tests/config.yml required inimum python to 3.6
  tests/config.yml
Due: none

remove unused requirements.yml
  tests/requirements.yml
Due: none

update requirements.txt files
  tests/integration/requirements.txt
  tests/unit/requirements.txt
Due: none

update unit tests for supported python versions
  tests/unit/conftest.py
  tests/unit/plugins/module_utils/test_hashi_vault_helper.py
Due: none

Revert "update requirements.txt files"
  tests/integration/requirements.txt
  tests/unit/requirements.txt
Due: none

better requirements.txt edits
  tests/integration/requirements.txt
  tests/unit/requirements.txt
Due: none

update README for python versions
  README.md
Due: none
