Repository ansible-collections/community.hashi_vault: changes, and which Codecov flags are due for each by the changed paths.
All: target_filter_vault_login_token, target_module_vault_login, target_module_vault_read, target_lookup_vault_login, target_lookup_vault_read, target_lookup_hashi_vault, target_auth_approle, target_auth_aws_iam, target_auth_cert, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

fix references
  plugins/lookup/hashi_vault.py
Due: target_lookup_hashi_vault

more fixups
  plugins/lookup/hashi_vault.py
Due: target_lookup_hashi_vault

deploy: 54c81ef7b174377ba6b22ec722207bc2066af74a
  pr/249/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/249/searchindex.js
Due: none

KV get fixups (#264)
  plugins/doc_fragments/engine_mount.py
  plugins/lookup/vault_kv1_get.py
  plugins/lookup/vault_kv2_get.py
  plugins/modules/vault_kv1_get.py
  plugins/modules/vault_kv2_get.py
  plugins/modules/vault_pki_generate_certificate.py
  tests/integration/targets/lookup_vault_kv1_get/tasks/lookup_vault_kv1_get_test.yml
  tests/integration/targets/lookup_vault_kv2_get/tasks/lookup_vault_kv2_get_test.yml
  tests/integration/targets/module_vault_kv1_get/tasks/module_vault_kv1_get_test.yml
  tests/integration/targets/module_vault_kv2_get/tasks/module_vault_kv2_get_test.yml
  tests/unit/plugins/lookup/test_vault_kv1_get.py
  tests/unit/plugins/lookup/test_vault_kv2_get.py
  tests/unit/plugins/modules/test_vault_kv1_get.py
  tests/unit/plugins/modules/test_vault_kv2_get.py
Due: none

deploy: 975d4d611fd9dce64360a8763fa09e3db84acbca
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_module.html
  branch/main/objects.inv
  branch/main/searchindex.js
Due: none

docs - `hashi_vault` migration guide (#249)
  docs/docsite/extra-docs.yml
  docs/docsite/rst/about_hashi_vault_lookup.rst
  docs/docsite/rst/migration_hashi_vault_lookup.rst
  plugins/lookup/hashi_vault.py
Due: target_lookup_hashi_vault

wip
  plugins/lookup/vault_ansible_config.py
Due: none

deploy: b63afc36559978fdc2745f9362114b7c9e515e12
  branch/main/collections/community/hashi_vault/docsite/about_hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/docsite/migration_hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/docsite/user_guide.html
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/index.html
  branch/main/objects.inv
  branch/main/searchindex.js
Due: none

deploy: 54c81ef7b174377ba6b22ec722207bc2066af74a
  pr/263/collections/community/hashi_vault/docsite/about_hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/docsite/migration_hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/docsite/user_guide.html
  pr/263/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/263/collections/community/hashi_vault/index.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv1_get_module.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_lookup.html
  pr/263/collections/community/hashi_vault/vault_kv2_get_module.html
  pr/263/collections/community/hashi_vault/vault_login_lookup.html
  pr/263/collections/community/hashi_vault/vault_login_module.html
  pr/263/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  pr/263/collections/community/hashi_vault/vault_read_lookup.html
  pr/263/collections/community/hashi_vault/vault_read_module.html
  pr/263/collections/community/hashi_vault/vault_token_create_lookup.html
  pr/263/collections/community/hashi_vault/vault_token_create_module.html
  pr/263/collections/community/hashi_vault/vault_write_lookup.html
  pr/263/collections/community/hashi_vault/vault_write_module.html
  pr/263/objects.inv
  pr/263/searchindex.js
Due: none

deploy: b63afc36559978fdc2745f9362114b7c9e515e12
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_module.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv2_get_module.html
  branch/main/collections/community/hashi_vault/vault_login_lookup.html
  branch/main/collections/community/hashi_vault/vault_login_module.html
  branch/main/collections/community/hashi_vault/vault_pki_generate_certificate_module.html
  branch/main/collections/community/hashi_vault/vault_read_lookup.html
  branch/main/collections/community/hashi_vault/vault_read_module.html
  branch/main/collections/community/hashi_vault/vault_token_create_lookup.html
  branch/main/collections/community/hashi_vault/vault_token_create_module.html
  branch/main/collections/community/hashi_vault/vault_write_lookup.html
  branch/main/collections/community/hashi_vault/vault_write_module.html
  branch/main/searchindex.js
Due: none

rename, tighten up
  plugins/lookup/vault_ansible_config.py
  plugins/lookup/vault_ansible_settings.py
Due: none

more notes
  plugins/lookup/vault_ansible_settings.py
Due: none

first units
  tests/unit/plugins/lookup/test_vault_ansible_settings.py
Due: none

handle plugin not found
  plugins/lookup/vault_ansible_settings.py
Due: none

better units, with comments
  tests/unit/plugins/lookup/test_vault_ansible_settings.py
Due: none

cleanup units
  tests/unit/plugins/lookup/test_vault_ansible_settings.py
Due: none

add integration for vault_ansible_settings
  tests/integration/targets/lookup_vault_ansible_settings/aliases
  tests/integration/targets/lookup_vault_ansible_settings/meta/main.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/lookup_vault_ansible_settings_configure.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/lookup_vault_ansible_settings_test.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/main.yml
Due: none

fill out examples
  plugins/lookup/vault_ansible_settings.py
Due: none

fill out docs
  plugins/lookup/vault_ansible_settings.py
Due: none

deploy: b63afc36559978fdc2745f9362114b7c9e515e12
  pr/265/collections/community/hashi_vault/hashi_vault_lookup.html
  pr/265/collections/community/hashi_vault/index.html
  pr/265/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  pr/265/collections/community/hashi_vault/vault_kv1_get_lookup.html
  pr/265/collections/index_lookup.html
  pr/265/objects.inv
  pr/265/searchindex.js
Due: none

fixup sanity & docs
  plugins/lookup/vault_ansible_settings.py
Due: none

deploy: b63afc36559978fdc2745f9362114b7c9e515e12
  pr/265/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  pr/265/searchindex.js
Due: none

update supported python versions in private utils
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_connection_options.py
  plugins/module_utils/_hashi_vault_common.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

update supported python versions in private utils (#266)
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_connection_options.py
  plugins/module_utils/_hashi_vault_common.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass, target_connection_options

announce token_validate default change
  changelogs/fragments/258-token_validate-default.yml
Due: none

test test idempotence
  .github/workflows/ansible-test.yml
Due: none

test test idempotence (#268)
  .github/workflows/ansible-test.yml
Due: none

Content/lookup config (#265)
  plugins/lookup/vault_ansible_settings.py
  tests/integration/targets/lookup_vault_ansible_settings/aliases
  tests/integration/targets/lookup_vault_ansible_settings/meta/main.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/lookup_vault_ansible_settings_configure.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/lookup_vault_ansible_settings_test.yml
  tests/integration/targets/lookup_vault_ansible_settings/tasks/main.yml
  tests/unit/plugins/lookup/test_vault_ansible_settings.py
Due: none

deploy: e01a314baa7070b36245b8d320b6966653bcd686
  branch/main/collections/community/hashi_vault/hashi_vault_lookup.html
  branch/main/collections/community/hashi_vault/index.html
  branch/main/collections/community/hashi_vault/vault_ansible_settings_lookup.html
  branch/main/collections/community/hashi_vault/vault_kv1_get_lookup.html
  branch/main/collections/index_lookup.html
  branch/main/objects.inv
  branch/main/searchindex.js
Due: none

add deprecator callback to shared utils
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_cert.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_hashi_vault_common.py
  plugins/module_utils/_hashi_vault_module.py
Due: target_auth_approle, target_auth_aws_iam, target_auth_cert, target_auth_jwt, target_auth_ldap, target_auth_none, target_auth_token, target_auth_userpass

update units for deprecator addition
  tests/unit/plugins/module_utils/authentication/conftest.py
  tests/unit/plugins/module_utils/authentication/test_auth_approle.py
  tests/unit/plugins/module_utils/authentication/test_auth_aws_iam.py
  tests/unit/plugins/module_utils/authentication/test_auth_cert.py
  tests/unit/plugins/module_utils/authentication/test_auth_jwt.py
  tests/unit/plugins/module_utils/authentication/test_auth_ldap.py
  tests/unit/plugins/module_utils/authentication/test_auth_none.py
  tests/unit/plugins/module_utils/authentication/test_auth_token.py
  tests/unit/plugins/module_utils/authentication/test_auth_userpass.py
  tests/unit/plugins/module_utils/authentication/test_hashi_vault_auth_method_base.py
  tests/unit/plugins/module_utils/authentication/test_hashi_vault_authenticator.py
Due: none

do deprecation message properly
  plugins/module_utils/_authenticator.py
  tests/unit/plugins/module_utils/authentication/test_hashi_vault_authenticator.py
Due: none

update vault_logins to explicity keep their default True
  plugins/lookup/vault_login.py
  plugins/modules/vault_login.py
Due: target_module_vault_login, target_lookup_vault_login

missed a unit
  plugins/plugin_utils/_hashi_vault_plugin.py
Due: none

change default, detect default use, display deprecation
  plugins/doc_fragments/auth.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_authenticator.py
Due: target_auth_token

update comments in integration tests
  tests/integration/targets/auth_token/tasks/token_test_controller.yml
  tests/integration/targets/auth_token/tasks/token_test_target.yml
Due: none

Path conditions:
  target_filter_vault_login_token: any of: plugins/filter/vault_login_token.py, but not: **/tests/unit/compat/*
  target_module_vault_login: any of: plugins/modules/vault_login.py, but not: **/tests/unit/compat/*
  target_module_vault_read: any of: plugins/modules/vault_read.py, but not: **/tests/unit/compat/*
  target_lookup_vault_login: any of: plugins/lookup/vault_login.py, but not: **/tests/unit/compat/*
  target_lookup_vault_read: any of: plugins/lookup/vault_read.py, but not: **/tests/unit/compat/*
  target_lookup_hashi_vault: any of: plugins/lookup/hashi_vault.py, but not: **/tests/unit/compat/*
  target_auth_approle: any of: plugins/module_utils/_auth_method_approle.py, but not: **/tests/unit/compat/*
  target_auth_aws_iam: any of: plugins/module_utils/_auth_method_aws_iam.py, but not: **/tests/unit/compat/*
  target_auth_cert: any of: plugins/module_utils/_auth_method_cert.py, but not: **/tests/unit/compat/*
  target_auth_jwt: any of: plugins/module_utils/_auth_method_jwt.py, but not: **/tests/unit/compat/*
  target_auth_ldap: any of: plugins/module_utils/_auth_method_ldap.py, but not: **/tests/unit/compat/*
  target_auth_none: any of: plugins/module_utils/_auth_method_none.py, but not: **/tests/unit/compat/*
  target_auth_token: any of: plugins/module_utils/_auth_method_token.py, but not: **/tests/unit/compat/*
  target_auth_userpass: any of: plugins/module_utils/_auth_method_userpass.py, but not: **/tests/unit/compat/*
  target_connection_options: any of: plugins/module_utils/_connection_options.py, but not: **/tests/unit/compat/*
